* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: white;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#name-content{
    margin-right: 7rem;
}

#name-content .logo {
    font-size: 3.5rem;
    color: #1877f2;
}

#name-content p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 530px;
    height: 380px;
    border: 2px solid gray;
    border-radius: 0.5rem;
    border: 2px solid rgba(184, 181, 181, 0.534); 
}

form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
}

form input:focus {
    border: 2px solid #1877f2;
}

form .login {
    outline: none;
    border: none;
    background: #1877f2;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.8rem;
    color: #1877f2;
}

form hr {
    background: #f7f7f7;
    margin: 1rem;
}

form .create-account {
    outline: none;
    border: none;
    background: #18f21f;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    width: 75%;
}